
body {
    font-family: 'Lato', sans-serif;
    background: #f6f9f9;
    margin: 0;
    font-size: 16px;
    overflow-x: hidden;
    box-sizing: border-box;
}

header {
    background: #f6f9f9;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color: #2d3950;
}

.content {
    width: 72%;
    margin: 0 auto;
}

.logo {
    padding: 32px 0px 32px 25px;
    display: flex;
}



.logo span {
    padding-left: 13px;    
}

.banner {
    background: #2d3950 url("../img/bg.jpg") no-repeat top center / cover;
}

.inner-content {
    width: 80%;
    margin: 0 auto;
    padding-top: 217px;
    color: #fff;
    margin-bottom: 185px;
    text-align: center;
}

.inner-content .title {
    font-size: 750%;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.line {
    border: none; 
    color: #15a4fa;
    background-color: #15a4fa; 
    height: 1px;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 40px;
}

.inner-content .text{
    font-size: 125%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 60px;
}

.callToAction {
    padding: 20px 30px;
    height: 60px;
    font-size: 125%;
    color: #fff;
    background-color: #15a4fa;
    border-radius: 6px;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
}

.callToAction:after {
    content: " to action"
}

.down {
    padding-bottom: 90px;
    text-align: center;
    color: #fff;
}


.text-block {
    padding-top: 80px;
    background-color: #f6f9f9;
}

.text-block .title {
    text-align: center;
    margin: 0;
    font-size: 250%; 
    padding-bottom: 40px;
    color: #2d3950;
}

.text-block .text {
    font-size: 125%;
    margin: 0;
    text-align: center;
    color: #999;
    line-height: 1.7em;
    padding-bottom: 70px;
}

.icons {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #fff;
}

.icons > div {
    display: flex;
}

.block {
    width: 33.33%;
}

.block > .title {
    font-size: 137.5%;
    color: #2d3950;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    width: 90%;
}

.block > .text {
    text-align: center;
    color: #999;
    font-size: 100%;    
    margin: 0 auto;
    margin-top: 25px;
    width: 80%;    
}

.icon {
    margin: 0 auto;
    background-color: #5fc3ff;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
}

.fa-mobile {
    font-size: 65px;
    padding: 17px 0px;
}

.fa-paper-plane {
    font-size: 43px;
    padding: 27px 0px;        
}

.fa-bullhorn {
    font-size: 47px;
    padding: 25px 0px;    
}

.icon > i {
    color: white;
}

.hober {
    background-color: #f6f9f9;
    padding-top: 50px;
    margin: 0 auto;
    width: 100%;
}

.hober > div {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    justify-content: center;
}
.image-block {
    margin: 7px;
}

.image-block > img {
    width: 250px;
}

.stayWithUs {
    margin-top: 105px;
    background: url('../img/bg2.jpg') no-repeat top center / cover;
}

.stayWithUs .title {
    font-size: 256%;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    padding-top: 73px;
    padding-bottom: 25px;
}

.stayWithUs .text {
    font-size: 100%;
    color: #999;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 50px;
}

form {
    width: 57%;
    margin: 0 auto;
}

.form-input {
    width: 100%;
    outline: none;
    background-color: transparent;
    border: 1px solid #999;
    border-radius: 4px;
    margin-bottom: 22px;
    height: 62px;
    color: #fff;   
}

.form-input:focus {
    border: 1px solid #fff;
}

.message {
    height: 160px;
    width: 100%;
}

.message::placeholder {
    padding-top: 25px;
}

.form-input::placeholder {
    padding-left: 20px;
    font-size: 100%;
}

.bottom {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 110px;
}

.subscribe {
    margin: auto 0;
}

.subscribe label{
    padding-left: 15px;
    color: #fff;
}

.subscribe input {
    margin: 0;
}

.send {
    width: 142px;
    height: 50px;
    background-color: #15a4fa;
    outline: none;
    border: 0px;
    color: #fff;
    border-radius: 6px;
    font-size: 110%
}

footer p{
    margin: 0;
    color: #999;
    width: 180px;
}

footer > div {
    padding: 27px 0;
    display: flex;
    justify-content: space-between;
}

.links {
    width: 173px;
}
.link {
    text-decoration-line: none;
    color: white;
    background-color: #2d3950;
    padding: 10px;
    margin-left: 5px;
    border-radius: 2px;
}

.link > i {
    width: 15px;
    height: 15px;
    text-align: center;
}

.facebook {
    background-color: #3b5998;
}

.twitter {
    background-color: #55acee;    
}

.google {
    background-color: #db4437;        
}

.linkedin {
    background-color: #0976b4;
}
@media screen and (max-width: 1024px) {
    .inner-content {
        padding-top: 200px;
        margin-bottom: 170px;
    }
    
    .inner-content .title {
        font-size: 500%;
    }   
    
    .inner-content .text{
        font-size: 80%;
    }

    .line {
        margin-top: 10px;
        margin-bottom: 25px;
    }

}

@media screen and (max-width: 1112px) {
    .block > .title {
        min-height: 54px;
    }

    .text-block {
        padding-top: 60px;
    }

    .text-block  .text {
        font-size: 110%;
        padding-bottom: 60px;
    }

    .icons {
        padding-top: 70px;
        padding-top: 70px;
    }
}

@media screen and (max-width: 709px) {
    .block > .title {
        min-height: 63px;
    }

    .image-block > img {
        width: 205px;
    }

    .icon {
        width: 70px;
        height: 70px;
    }

    .fa-bullhorn {
        font-size: 38px;
        padding: 16px 0px;
    }

    .fa-paper-plane {
        font-size: 35px;
        padding: 18px 0px;
    }

    .fa-mobile {
        font-size: 63px;
        padding: 5px 0px;
    }

    .block > .title {
        font-size: 110%;

    }

    .block > .text {
        font-size: 90%;
        margin-top: 10px;
    }
}

@media screen and (max-width: 640px) {
    
    .logo {
        padding: 20px 0px;
    }

    .logo span {
        padding-left: 5px;
        font-size: 80%;
    }

    .logo img {
        height: 25px;
        width: 23px;
    }

    .inner-content {
        padding-top: 200px;
        margin-bottom: 148px;
    }
    
    .inner-content .title {
        font-size: 300%;
    }
    
    .inner-content .text{
        width: 80%;
        font-size: 80%;
        padding-bottom: 50px;
    }   
    
    .line {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .callToAction {
        padding: 15px 20px;
    }

    .down {
        padding-bottom: 50px;
    }

    .text-block {
        padding-top: 40px;
    }

    .text-block .title {
        font-size: 230%;
        padding-bottom: 20px;
    }

    .text-block .text {
        font-size: 95%;
        padding-bottom: 50px;
    }

    .icons {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .subscribe label {
        padding-left: 0px;
        font-size: 80%;
    }

    .send {
        width: 100px;
        height: 45px;
    }

    footer p {
        font-size: 80%;
        width: 135px;
    }

    .link {
        padding: 6px;
    }
}
@media screen and (max-width: 450px) {
    .block > .text {
        display: none;
    }

    footer p {
        margin: 0 auto;
        padding-bottom: 12px;
        text-align: center;
    }

    footer > div {
        display: block;
    }

    .links {
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
    }
}
@media screen and (max-width: 376px) {
    .logo {
        padding: 15px 0px;
    }
    
    .inner-content {
        padding-top: 180px;
        margin-bottom: 200px;
    }

    .inner-content .title {
        font-size: 230%;
    }

    .inner-content .text{
        width: 100%;
        font-size: 60%;
        padding-bottom: 35px;
    }
    
    .line {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .callToAction {
        padding: 10px 15px;
        border-radius: 3px;
        font-size: 100%;
    }
    
    .down {
        padding-bottom: 25px;
    }

    .text-block .text {
        display: none;
    }

    .icons > div {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .block {
        width: 70px;
    }

    .block > .title {
        font-size: 75%;
        margin-top: 15px;
    }

    .icons {
        padding-bottom: 40px;
        padding-top: 40px;
    }

    .icon {
        width: 40px;
        height: 40px;
    }

    .fa-bullhorn {
        font-size: 24px;
        padding: 9px 0px;
    }

    .fa-paper-plane {
        font-size: 21px;
        padding: 10px 0px;
    }

    .fa-mobile {
        font-size: 37px;
        padding: 3px 0px;
    }

    .image-block > img {
        width: 115px;
    }

    .stayWithUs .title {
        font-size: 195%;
        padding-top: 50px;
        padding-bottom: 15px;
    }

    .stayWithUs .text {
        font-size: 80%;
        padding-bottom: 25px;
    }

    .form-input::placeholder {
        padding-left: 3px;
        font-size: 90%;
    }

    .form-input {
        margin-bottom: 15px;
    }

    .subscribe {
        text-align: center;
    }

    .bottom {
        flex-wrap: wrap;
        justify-content: center;
    }

    .send {
        width: 65px;
        height: 35px;
        margin-top: 10px;
        font-size: 90%;
    }

    footer > div {
        padding: 15px 0;
    }

}

@media screen and (max-width: 300px) {
    header{
        font-size: 100%;
    }
    
    .logo {
        padding: 10px 0px;
    }
    
    .logo span {
        padding-left: 3px;
    }
    
    .logo img {
        height: 18px;
        width: 17px;
    }
    
    .inner-content {
        padding-top: 75px;
        margin-bottom: 50px;
    }
    
    .inner-content .title{
        font-size: 125%
    }
    
    .inner-content .text{
        font-size: 30%;
        padding-bottom: 15px;
    }
    
    .callToAction {
        padding: 3px 10px;
        border-radius: 2px;
        font-size: 80%;
    }
    .callToAction:after {
        content: none;
    }
    
    .down {
        padding-bottom: 20px;
    }

    .image-block > img {
        width: 100px;
    }

    footer p {
        width: 95px;
    }
    .links {
        flex-wrap: wrap;
        width: 100%;
    }

    .link {
        margin: 5px;
    }


}