
body {
    font-family: 'Lato', sans-serif;
    background: #ddd;
    margin: 0;
    font-size: 16px;
    overflow-x: hidden;
    box-sizing: border-box;
}

header {
    background: #f6f9f9;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color: #2d3950;
}

.content {
    width: 72%;
    margin: 0 auto;
}

.logo {
    padding: 32px 0px 32px 25px;
    height: 100%;
}

.logo span {
    padding-left: 13px;    
}

.banner {
    background: url("../img/bg.jpg") no-repeat top center / cover;
}

.inner-content {
    width: 60%;
    margin: 0 auto;
    padding-top: 217px;
    color: #fff;
    margin-bottom: 185px;
    text-align: center;
}

.inner-content .title {
    font-size: 750%;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.line {
    border: none; /* Убираем границу для браузера Firefox */
    color: #15a4fa; /* Цвет линии для остальных браузеров */
    background-color: #15a4fa; /* Цвет линии для браузера Firefox и Opera */
    height: 1px;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 40px;
}

.inner-content .text{
    font-size: 125%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 60px;
}

.callToAction {
    padding: 20px 30px;
    height: 60px;
    font-size: 125%;
    color: #fff;
    background-color: #15a4fa;
    border-radius: 6px;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
}

.callToAction:after {
    content: " to action"
}

.down {
    padding-bottom: 90px;
    text-align: center;
    color: #fff;
}

.hober img {
    width: 60%;
}

@media screen and (max-width: 1024px) {
    .inner-content {
        padding-top: 200px;
        margin-bottom: 170px;
    }
    
    .inner-content .title {
        font-size: 400%;
    }   

    .inner-content .text{
        font-size: 80%;
    }

    .line {
        margin-top: 10px;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 568px) {
    
    .logo {
        padding: 20px 0px;
    }

    .logo span {
        padding-left: 5px;
        font-size: 80%;
    }

    .logo img {
        width: 25px;
    }

    .inner-content {
        padding-top: 150px;
        margin-bottom: 110px;
    }
    
    .inner-content .title {
        font-size: 200%;
    }
    
    .inner-content .text{
        width: 80%;
        font-size: 80%;
        padding-bottom: 50px;
    }   
    
    .line {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .callToAction {
        padding: 15px 20px;
    }

    .down {
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 376px) {
    .logo {
        padding: 15px 0px;
    }
    
    .inner-content {
        padding-top: 90px;
        margin-bottom: 70px;
    }

    .inner-content .title {
        font-size: 150%;
    }

    .inner-content .text{
        width: 100%;
        font-size: 60%;
        padding-bottom: 35px;
    }
    
    .line {
        margin-top: 3px;
        margin-bottom: 5px;
    }

    .callToAction {
        padding: 10px 15px;
        border-radius: 3px;
        font-size: 100%;
    }

    .down {
        padding-bottom: 25px;
    }
}

@media screen and (max-width: 300px) {
    header{
        font-size: 100%;
    }

    .logo {
        padding: 10px 0px;
    }
    
    .logo span {
        padding-left: 3px;
    }

    .logo img {
        width: 20px;
    }

    .inner-content {
        padding-top: 25px;
        margin-bottom: 10px;
    }

    .inner-content .title{
        font-size: 100%
    }

    .inner-content .text{
        font-size: 30%;
        padding-bottom: 15px;
    }

    .callToAction {
        padding: 3px 10px;
        border-radius: 2px;
        font-size: 80%;
    }
    .callToAction:after {
        content: none;
    }

    .down {
        padding-bottom: 20px;
    }
}